body {
  font-size: 18px;
  line-height: 1.2;
}
a {
    text-decoration: none;
}
h1 {
font-size: 2em; /* 32 px */
font-weight: bold;
margin-top: 1em;
margin-bottom: 0em;
color: blue;
}
h3 {
  font-size: 1.5em;
  margin-top: 1em;
}
p {
  font-size: 100%; /* 16px */
  margin-top: 1em;
  font-style: italic;
  color: gray;
}

nav {
  background-color: rgba(80,80, 80, 0.6);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
  }

.right {
  float: right;
  text-decoration: none;
  }

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
  }

.container {
  margin: 0 auto;
  width: 50%;
}

a:hover { color:#0070BC; } /* mouse over */
